<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Memory_Cleaner.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Memory_Cleaner.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Memory_Cleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Memory_Cleaner.Settings>
            <setting name="DesiredTimerRes" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Hotkey" serializeAs="String">
                <value>F12</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hide" serializeAs="String">
                <value>False</value>
            </setting>
        </Memory_Cleaner.Settings>
        <Memory_Cleaner.Settings1>
            <setting name="DesiredTimerRes" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Hotkey" serializeAs="String">
                <value>F12</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hide" serializeAs="String">
                <value>0</value>
            </setting>
        </Memory_Cleaner.Settings1>
        <Memory_Cleaner.Properties.Settings>
            <setting name="DesiredTimerRes" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Hotkey" serializeAs="String">
                <value>F12</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hide" serializeAs="String">
                <value>0</value>
            </setting>
        </Memory_Cleaner.Properties.Settings>
    </userSettings>
</configuration>